.GameScene {
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.QuestionBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78vw;
  margin-bottom: 20vh;

  img {
    max-width: 100%;
  }

  h1 {
    font-size: 2rem;
    position: absolute;
    max-width: 70%;
    text-align: center;
    color: #fff;
  }
}

.AnswerGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
}

.AnswerBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38vw;
  margin-bottom: 10vh;
  filter: none;

  &.correct {
    filter: hue-rotate(-100deg);
  }

  &.incorrect {
    filter: hue-rotate(90deg);
  }

  &.dimmed {
    filter: grayscale(1);
  }

  &:hover {
    cursor: pointer;
  }

  img {
    max-width: 100%;
  }

  span {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    left: 4vw;
    color: #fff;
  }

  p {
    font-size: 1.5rem;
    position: absolute;
    max-width: 60%;
    padding: 20px;
    color: #fff;
  }
}

.Lifelines {
  display: flex;

  img {
    width: 120px;
    margin: 0 2em;
    transition: 2ms ease-in-out scale;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  .dimmed {
    filter: grayscale(1);
  }
}
